body {
	width: 100vw;
	height: 100vh;
	background-color: red;
}

.wrapper {
	width: 100vw;
}

.eye {
	width: 100px;
	height: 100px;
	background-color: white;
	border: 1px solid black;
	border-radius: 50%;
	position: relative;
}

#left-eye {
	left: 200px;
	top: 100px;
}

#right-eye {
	left: 600px;
}

.eyeball {
	width: 16px;
	height: 16px;
	background-color: black;
	border-radius: 50%;
	position: absolute;
	left: 84px;
	top: 42px;
}